<#@ template debug="false" hostspecific="true" language="C#" #>

<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>

<#@ include file="modelbasetemplate.tt" #>

<# Generate("KeyFrameInstanceModel<T>", "where T: IKeyFrameInterpolation<T>",
	F("T", "InnerObject"),
	F("TimeSpan", "Timestamp"));  #>